.catalog {
  padding-top: 30px;
}

.catalog__list {
  @include lists;
  @include wrapper;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 69px;
  }

  .catalog__list {
    @include wrapper-tablet;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 130px;
  }

  .catalog__list {
    display: flex;

    @include wrapper-desktop;
  }

  .catalog__item {
    flex-direction: column;
    flex-wrap: wrap;
    width: 317px;
    margin-bottom: 55px;
  }

  .catalog__item:not(:nth-child(3n)) {
    margin-right: 49px;
  }
}
