.category {
  background-color: #fbfbfb;
}

.category__list {
  @include lists;
}

.category__item {
  position: relative;
  padding: 27px 30px;
}

.category__item--interior-items {
  background-color: $primary-color;

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 36px;
    width: 40px;
    height: 62px;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.category__item--kids-toys {
  background-color: $primary-color--darkest;

  &::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 27px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.category__link {
  width: 130px;
  color: $white;

  @include font-set(19px, 24px, 700);
}

@media (min-width: $tablet-width) {
  .zigzag {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 21px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: auto 100%;
      background-position-x: center;
    }
  }

  .category__list {
    display: flex;
    margin: 0 auto;
    width: 100%;

    @include wrapper-tablet;
  }

  .category__item {
    width: 334px;
    padding-top: 29px;
    padding-bottom: 39px;
  }

  .category__link {
    @include font-set(20px, 30px, 700);
  }
}

@media (min-width: $desktop-width) {
  .zigzag::after {
    bottom: -17px;
    left: 18px;
    height: 34px;
  }

  .category__list {
    @include wrapper-desktop;
  }

  .category__item {
    width: 525px;
    padding-top: 29px;
    padding-left: 38px;
    padding-bottom: 28px;
    transition: 0.5s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 0 0 $primary-color;
    }
  }

  .category__item--kids-toys:hover {
    box-shadow: 0 5px 0 0 $primary-color--darkest;
  }

  .category__link:active {
    opacity: 0.3;
  }
}
