.category__list {
  @include lists;
}

.category__item {
  padding: 30px 30px;

  &--interior-items {
    background-color: $primary-color;
  }

  &--kids-toys {
    background-color: $primary-color--darkest;
  }
}

.category__item a {
  padding-right: 130px;
}

.category__link {
  color: $white;

  @include font-set(19px, 24px, 700);
}

@media (min-width: $tablet-width) {
  .category__list {
    display: flex;

    @include wrapper-tablet;
  }

  .category__item a {
    padding-right: 350px;
  }
}

@media (min-width: $desktop-width) {
  .category__list {
    width: 1050px;
    margin: 0;
    padding: 0;
  }

  .category__item {
    width: 525px;
  }
}
