.category {
  background-color: #fbfbfb;
}

.category__list {
  @include lists;
}

.category__item {
  position: relative;
  padding: 27px 30px;

  &--interior-items {
    background-color: $primary-color;
  }

  &--kids-toys {
    background-color: $primary-color--darkest;
  }
}

.category__item--interior-items::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  background-image: url(../img/icon-interior.svg);
  background-repeat: no-repeat;
}

.category__item--kids-toys::after {
  content: "";
  position: absolute;
  top: 21px;
  right: 27px;
  width: 60px;
  height: 60px;
  background-image: url(../img/icon-toy.svg);
  background-repeat: no-repeat;
}

.category__link {
  width: 130px;
  color: $white;

  @include font-set(19px, 24px, 700);
}

@media (min-width: $tablet-width) {
  .category__list {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 100%;

    @include wrapper-tablet;
  }

  .category__list::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category__item {
    width: 334px;
    padding-top: 36px;
    padding-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .category__list {
    @include wrapper-desktop;
  }

  .category__list::after {
    width: 1050px;
    bottom: -1px;
    left: 21px;
    height: 20px;
    background-size: auto;
  }

  .category__item {
    width: 525px;
    padding-top: 29px;
    padding-left: 38px;
    padding-bottom: 28px;
  }

  .category__link {
    @include font-set(20px, 30px, 700);
  }
}
