.category__list {
  @include lists;
}

.category__item {
  &--interior-items {
    background-color: $primary-color;
  }

  &--kids-toys {
    background-color: $primary-color--darkest;
  }
}

.category__item {
  padding: 30px 30px;
}

.category__item a {
  padding-right: 130px;
}

.category__link {
  color: $white;

  @include font-set(19px, 24px, 700);
}
