.category {
  background-color: #fbfbfb;
}

.category__list {
  @include lists;
}

.category__item {
  padding: 30px 30px;

  &--interior-items {
    background-color: $primary-color;
  }

  &--kids-toys {
    background-color: $primary-color--darkest;
  }
}

.category__link {
  width: 130px;
  color: $white;

  @include font-set(19px, 24px, 700);
}

@media (min-width: $tablet-width) {
  .category__list {
    display: flex;
    margin: 0 auto;
    width: 100%;

    @include wrapper-tablet;
  }

  .category__item {
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .category__list {
    @include wrapper-desktop;
  }

  .category__item {
    width: 525px;
  }
}
