.checkbox-list__label {
  @include font-set(17px, 18px, 700);
}

@media (min-width: $tablet-width) {
  .checkbox-list {
    display: flex;
    flex-wrap: wrap;
    width: 501px;
  }

  .checkbox-list__item {
    width: 238px;
    margin-right: 20px;
    margin-bottom: 33px;
  }
}

@media (min-width: $desktop-width) {
  .checkbox-list {
    width: 875px;
  }
}
