.contacts__wrapper {
  @include wrapper;
}

.contacts__title {
  display: block;
  margin-bottom: 26px;

  @include font-set(18px, 30px, 700);
}

.contacts__list {
  @include lists;
}

.contacts__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
  color: $secondary-color--darkest;
}

.contacts__text,
.contacts__link,
.contacts__address {
  margin: 0;
  padding-bottom: 5px;
  line-height: 30px;
}

.contacts__text {
  margin-right: 31px;
}

.contacts__link {
  position: relative;
  color: $secondary-color--darkest;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $primary-color;
    background-size: cover;
  }

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__link:active::after {
  background-color: rgba(70, 193, 174, 0.3);
}

.contacts__map {
  position: relative;
  width: 100vw;
  top: 0;
  left: 50%;
  height: 459px;
  margin-left: -50vw;
  margin-bottom: 39px;
}

.contacts__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 0;
}

.contacts__map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.contacts__button {
  padding-top: 15px;
  padding-left: 51px;
  padding-right: 56px;
  margin: 0 auto 40px;

  &:hover,
  &:focus {
    color: $white;
    background-color: $secondary-color--darkest;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $secondary-color--darkest;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 101px;
  }

  .contacts__wrapper {
    @include wrapper-tablet;
  }

  .contacts__title {
    position: relative;
    width: 668px;

    @include font-set(43px, 50px, 700);

    margin-bottom: 50px;

    &::after {
      content: "";
      position: absolute;
      top: -15px;
      right: 0;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .contacts__list {
    display: flex;
    margin-bottom: 22px;
  }

  .contacts__item {
    width: 297px;

    @include font-set(17px, 30px, 400);
  }

  .contacts__item:first-child {
    margin-right: 37px;
  }

  .contacts__button {
    display: block;
    width: 230px;
    margin: 56px auto 58px;
    padding-top: 14px;
    padding-left: 38px;
    padding-right: 39px;
  }

  .contacts__text {
    margin-right: 24px;
  }

  .contacts__link::after {
    bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 185px;
    padding-bottom: 104px;
  }

  .contacts__wrapper {
    position: relative;
    max-width: 1150px;
    padding-left: 225px;
    padding-right: 50px;
  }

  .contacts__list {
    flex-direction: column;
    margin-bottom: 49px;
  }

  .contacts__list,
  .contacts__title {
    width: 50%;
  }

  .contacts__item {
    width: 309px;
    margin-bottom: 25px;
  }

  .contacts__title {
    margin-right: 0;
    margin-bottom: 49px;

    @include font-set(53px, 57px, 700);

    &::after {
      left: -112px;
      top: -9px;
    }
  }

  .contacts__button {
    margin: 0;
  }

  .contacts__map {
    position: absolute;
    top: -69px;
    right: 50px;
    width: 525px;
    margin: 0;
  }
}
