.contacts__wrapper {
  @include wrapper;
}

.contacts__title {
  display: block;
  margin-bottom: 43px;

  @include font-set(18px, 30px, 700);
}

.contacts__list {
  @include lists;
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  color: $secondary-color--darkest;
}

.contacts__text,
.contacts__link,
.contacts__address {
  margin: 0;
  padding-bottom: 5px;
}

.contacts__text {
  width: 50px;
}

.contacts__link,
.contacts__address {
  width: 183px;
}

.contacts__link {
  color: $secondary-color--darkest;
  border-bottom: 1px solid #62d1ba;
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 457px;
  margin-bottom: 40px;
}

.contacts__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.contacts__map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.contacts__button {
  padding-left: 51px;
  padding-right: 51px;
  margin: 0 auto 40px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    @include wrapper-tablet;
  }

  .contacts__title {
    @include font-set(43px, 50px, 700);

    margin-bottom: 62px;
  }

  .contacts__list {
    display: flex;
    justify-content: space-between;
  }

  .contacts__item {
    width: 290px;
  }

  .contacts__button {
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    @include wrapper-desktop;

    padding-top: 150px;
    padding-bottom: 100px;
  }

  .contacts__list {
    display: block;
    padding-left: 175px;
  }

  .contacts__title {
    padding-left: 175px;
  }

  .contacts__button {
    margin-bottom: 105px;
  }
}
