.contacts__title {
  display: block;

  @include font-set(18px, 30px, 700);
  @include wrapper;

  margin-bottom: 43px;
}

.contacts__list {
  @include lists;
  @include wrapper;
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  color: $secondary-color--darkest;
}
.contacts__text,
.contacts__link,
.contacts__address {
  margin: 0;
  margin-bottom: 40px;
  padding-bottom: 5px;
}

.contacts__text {
  width: 50px;
}

.contacts__link,
.contacts__address {
  width: 183px;
}

.contacts__link {
  color: $secondary-color--darkest;
  border-bottom: 1px solid #62d1ba;
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 457px;
  margin-bottom: 40px;
}

.contacts__button {
  padding-left: 51px;
  padding-right: 51px;
  margin: 0 30px 39px;
}

.contacts__map-tablet,
.contacts__map-desktop {
  display: none;
}

.contacts__map-mobile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  margin: 0 auto;
}

.contacts__map-mobile img {
  height: 457px;
}

.contacts__map iframe {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 457px;
  border: 0;
}

@media (min-width: $tablet-width) {

  .contacts__title {
    @include font-set(43px, 50px, 700);
    @include wrapper-tablet;

    margin-bottom: 62px;
  }

  .contacts__list {
    display: flex;
    justify-content: space-between;

    @include wrapper-tablet;
  }

  .contacts__item {
    width: 290px;
  }

  .contacts__button {
    padding-left: 38px;
    padding-right: 38px;
    margin: 0 259px 59px;
  }

  .contacts__map-mobile {
    display: none;
  }

  .contacts__map {
    height: 455px;
  }

  .contacts__map-tablet {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    margin: 0 auto;
  }

  .contacts__map-tablet img {
    height: 455px;
  }

  .contacts__map iframe {
    height: 455px;
    }
}
