.copyright {
  display: flex;
  width: 183px;
  margin: 0 38px;

  @include wrapper;

  padding-bottom: 32px;
  padding-top: 30px;
  text-align: center;
}

.copyright__text {
  @include font-set(19px, 18px, 700);
}
