.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 186px;
  padding-top: 7px;
  margin: 0 auto;

  text-align: center;
}

.copyright__text {
  width: 128px;

  @include font-set(19px, 18px, 700);

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.copyright__link {
  width: 38px;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    padding: 0;
  }
}
