.features {
  @include wrapper;
}

.features__title {
  display: block;
  margin: 0;
  margin-bottom: 30px;

  @include font-set(25px, 30px, 700);
}

.features__list {
  @include lists;
}

.features__item {
  padding-top: 60px;

  @include font-set(17px, 20px, 700);
}
