.field-list {
  margin-bottom: 25px;

  @include lists;
}

.field-list__item {
  margin-bottom: 25px;
}

.field-list__input {
  width: 100%;
  height: 38px;
  padding: 0 0 20px;
  color: $secondary-color--darkest;

  @include font-set(17px, 18px, 400);

  border: 0;
  border-bottom: 2px solid $black;

  &:hover,
  &:focus {
    border-color: $primary-color;
  }

  &:active {
    border-color: $primary-color;
    color: $secondary-color--darkest;
  }
}

.field-list__input::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.field-list__input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.field-list__label {
  display: block;
  margin-bottom: 11px;

  @include font-set(17px, 18px, 700);
}

@media (min-width: $tablet-width) {
  .field-list {
    width: 100%;
    margin-left: 43px;
  }

  .field-list__label {
    display: inline;
    margin-right: 23px;

    @include font-set(19px, 18px, 700);
  }

  .field-list__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 37px;
  }

  .field-list__input {
    width: 100%;
    height: 39px;
    padding-left: 18px;
    padding-right: 18px;

    @include font-set(19px, 18px, 400);
  }
}

@media (min-width: $desktop-width) {
  .field-list {
    margin-left: 27px;
  }

  .field-list__input {
    margin-right: 175px;
    height: 43px;
    padding-bottom: 14px;
  }

  .field-list__item {
    margin-bottom: 34px;
  }
}
