.main-nav {

  @include wrapper;
}

.main-nav__list {
  @include lists;
}

.main-nav__item {
  padding-top: 31px;
  padding-bottom: 31px;

  @include font-set(17px, 24px, 700);
}

.main-nav__item--new,
.main-nav__item--sale {
  display: none;
}

.main-nav__item a {
  color: $black;
}

.main-nav__logo {
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    @include wrapper-tablet;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    width: 167px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .main-nav__logo {
    margin: 0;
  }
  .main-nav__item--logo {
    width: 318px;
    order: -3;
    padding-top: 22px;
    padding-bottom: 20px;

  }

  .main-nav__item--cart {
    width: 265px;
    order: -1;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .main-nav__item--search {
    width: 83px;
    order: -2;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {

  .main-nav {
    @include wrapper-desktop;
  }

  .main-nav__item--new,
  .main-nav__item--sale {
    display: block;

    @include font-set(15px, 24px, 700);
  }

  .main-nav__item--logo {
    order: 1;
  }

  .main-nav__item--search {
    order: 2;
  }

  .main-nav__item--cart {
    order: 3;
  }

  .main-nav__item--new {
    order: 4;
  }

  .main-nav__item--sale {
    order: 5;
  }
}
