.main-nav {
  position: relative;

  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  z-index: 1;
}

.main-nav__list {
  @include lists;
}

.main-nav__item {
  min-height: 79px;
  padding-top: 28px;
  padding-left: 75px;
  padding-bottom: 26px;

  @include font-set(17px, 24px, 700);

  border-bottom: 1px solid #ececec;

  &--logo {
    padding-top: 21px;
    padding-left: 115px;
    padding-bottom: 19px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--new,
  &--sale {
    display: none;
  }
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;
}

.main-nav__link {
  position: relative;
  display: block;
  color: $black;

  &:hover,
  &:focus {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }

  &:logo {
    margin-left: 40px;
    padding: 0;
    width: 86px;
  }
}

.main-nav__search-icon {
  position: absolute;
  top: 3px;
  left: -44px;
  fill: rgba($black, 0.2);

  &:hover {
    fill: $primary-color;
  }

  &:active {
    fill: rgba($primary-color, 0.3);
  }
}

.main-nav__cart-icon {
  position: absolute;
  top: 3px;
  left: -47px;

  &:hover {
    opacity: 1;
    fill: $primary-color;
  }

  &:active {
    fill: rgba($primary-color, 0.3);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__toggle {
    position: absolute;
    top: 32px;
    right: 30px;
    z-index: 2;
    display: block;
    width: 20px;
    height: 14px;
    background: transparent;
    cursor: pointer;
    border: none;
  }

  .main-nav--closed .main-nav__toggle {
    background-image: url("../img/icon-menu-open.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .main-nav--opened .main-nav__toggle {
    width: 22px;
    height: 22px;
    background-image: url("../img/icon-menu-close.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .main-nav--closed .main-nav__item {
    display: none;

    &--logo {
      display: block;
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs {
    position: static;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin: 0 auto;
    width: 100%;

    @include wrapper-tablet;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    width: 668px;
    z-index: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    width: auto;
    padding: 0;
    padding-top: 33px;
    min-height: 88px;
    border-bottom: none;

    &--logo {
      order: -3;
      margin-right: 209px;
      padding: 0;
      height: 48px;
      border-bottom: none;
    }

    &--cart {
      order: -1;
      padding-top: 31px;
      padding-left: 82px;
      padding-right: 0;
      text-align: right;
    }

    &--search {
      width: 82px;
      order: -2;
      font-size: 0;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }

    &--catalog {
      margin-right: 36px;
      padding: 0;
      padding-top: 18px;
      font-size: 15px;
    }

    &--form {
      margin-right: auto;
      padding: 0;
      padding-top: 18px;
      font-size: 15px;
    }
  }

  .main-nav__link--logo {
    margin-left: 0;
    padding: 22px 0;
    width: 112px;
  }

  .main-nav__logo-image {
    width: 112px;
    height: 46px;
  }

  .main-nav__search-icon {
    top: 4px;
    left: 33px;
  }

  .main-nav__cart-icon {
    left: -49px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    max-width: 1150px;
  }

  .main-nav--index {
    @include wrapper-desktop;
  }

  .main-nav__list {
    width: 1050px;
  }

  .main-nav__item--new,
  .main-nav__item--sale {
    display: block;

    @include font-set(15px, 24px, 700);
  }

  .main-nav__item--logo {
    order: 1;
  }

  .main-nav__item--search {
    order: 2;
  }

  .main-nav__item--cart {
    order: 3;
  }

  .main-nav__item--new {
    order: 4;
  }

  .main-nav__item--sale {
    order: 5;
  }
}
