.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  padding: 38px 109px 46px;
  background-color: $white;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.modal__title {
  display: block;
  margin: 0;
  margin-bottom: 26px;

  @include font-set(25px, 30px, 700);

  text-align: center;
  text-transform: uppercase;
}

.modal__text {
  display: block;
  margin: 0;
  margin-bottom: 29px;
  text-align: center;
  color: $secondary-color--darkest;
}

.modal__list {
  display: flex;

  @include lists;

  margin-bottom: 32px;
}

.modal_button {
  padding-left: 126px;
  padding-right: 126px;
  color: $white;
  background-color: $primary-color;
  border: 2px solid $primary-color;
}

.modal--show {
  display: block;
}

.choose-size__label-radio {
  display: block;
  padding: 20px 50px;
  margin-right: 7px;

  @include font-set(17px, 16px, 700);

  text-transform: uppercase;
  color: $secondary-color--darkest;
  border: 2px solid #ececec;

  &--active {
    border-color: $primary-color;
  }

  &:hover,
  &:focus {
    border-color: #c7c7c7;
  }

  &:active {
    border-color: $primary-color;
  }
}

.choose-size__label-radio:last-child {
  margin-right: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6);
}

.overlay--show {
  display: block;
}
