.order-form__wrapper,
.order-form__footer {
  @include wrapper;
}

.order-form__group {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  border: none;
}

.order-form__title {
  margin: 0;
  margin-bottom: 30px;
  color: $primary-color;

  @include font-set(17px, 16px, 700);
  text-transform: uppercase;
}

.order-form__text {
  color: $secondary-color--darkest;

  @include font-set(14px, 16px, 400);
}

.order-form__email,
.order-form__textarea,
.order-form__tel {
  width: 260px;
  color: rgba(68, 68, 68, 0.3);

  @include font-set(17px, 18px, 400);

  border: 0;
  border-bottom: 2px solid $black;
}

.order-form__textarea {
  width: 228px;
  height: 140px;
  padding-top: 17px;
  padding-left: 16px;
  padding-right: 16px;
  border: 2px solid $black;
}

.order-form__button {
  margin-top: 33px;
  margin-bottom: 55px;
  padding-left: 45px;
  padding-right: 45px;
}

@media (min-width: $tablet-width) {
  .order-form__group {
    display: flex;
    flex-direction: row;
  }

  .order-form__group:nth-child(even) { /*не применяется*/
    backround-color: $secondary-color;
  }

  .order-form__wrapper {
    display: flex;

    @include wrapper-tablet;
  }

  .order-form__title {
    width: 166px;
  }

  .order-form__email,
  .order-form__tel {
    width: 501px;
  }

  .order-form__textarea {
    width: 469px;
  }

  .order-form__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include wrapper-tablet;

    margin-top: 54px;
    margin-bottom: 54px;
  }

  .order-form__button {
    margin: 0;
    order: -1;
  }

  .order-form__text {
    @include font-set(17px, 30px, 400);
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    padding-left: 64px;
  }

  .order-form__email,
  .order-form__tel {
    width: 700px;
  }

  .order-form__textarea {
    width: 668px;
  }

  .order-form__text {
    margin-right: 197px;
  }

  .order-form__button {
    margin-left: 132px;
  }
}
