.order__text {
  @include wrapper;

  margin-top: 22px;
  margin-bottom: 26px;

  @include font-set(13px, 24px, 400);

  color: $secondary-color--darkest;
}

@media (min-width: $tablet-width) {
  .order {
    position: relative;

    &::before {
    content: "";
    position: absolute;
    top: -89px;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: no-repeat;
    background-size: cover;

    }
  }

  .order__text {
    @include wrapper-tablet;

    margin-top: 80px;

    @include font-set(17px, 30px, 400);
  }
}

@media (min-width: $desktop-width) {
  .order {
    padding-top: 122px;

    &::before {
      height: 21px;
      top: -21px;
    }
  }

  .order__text {
    @include wrapper-desktop;

    margin-top: 0;
    padding: 0 225px;

  }
}
