.order-form__wrapper,
.order-form__footer {
  @include wrapper;
}

.order-form__group {
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
  border: none;

  &--color {
    margin-bottom: 0;
  }

  &--name {
    margin-bottom: 16px;
  }

  &--text {
    margin-bottom: 14px;
  }
}

.order-form__list {
  @include lists;
}

.order-form__title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 33px;
  color: $primary-color;

  @include font-set(17px, 16px, 700);
  text-transform: uppercase;

  &::after {
    content: "";
    width: 200px;
    height: 1px;
    margin-left: 25px;
    flex-grow: 1;
    background-color: $primary-color;
  }

  &--name {
    margin-bottom: 31px;
  }

  &--text {
    margin-bottom: 12px;
  }

  &--email {
    margin-bottom: 23px;
  }

  &--textarea {
    margin-bottom: 28px;
  }
}

.order-form__text {
  color: $secondary-color--darkest;

  @include font-set(14px, 16px, 400);
}

.order-form__email,
.order-form__textarea,
.order-form__tel {
  width: 260px;
  color: $secondary-color--darkest;

  @include font-set(17px, 18px, 400);

  border: 0;
  border-bottom: 2px solid $black;
}

.order-form__email,
.order-form__tel {
  height: 34px;

  &:hover,
  &:focus {
    border-color: $primary-color;
  }

  &:active {
    border-color: $primary-color;
    color: $secondary-color--darkest;
  }
}

.order-form__tel {
  position: relative;
  margin-bottom: 20px;
  height: 39px;

  @include font-set(19px, 18px, 400);
}

.order-form__email {
  margin-bottom: 15px;
}

.order-form__tel::placeholder,
.order-form__email::placeholder,
.order-form__textarea::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.order-form__textarea {
  height: 140px;
  padding-top: 17px;
  padding-left: 16px;
  padding-right: 16px;
  border: 2px solid $black;

  &:hover,
  &:focus {
    border-color: $primary-color;
  }

  &:active {
    border-color: $primary-color;
    color: $secondary-color--darkest;
  }
}

.order-form__button {
  margin-top: 32px;
  margin-bottom: 55px;
  padding-top: 13px;
  padding-left: 45px;
  padding-right: 45px;

  &:hover,
  &:focus {
    color: $white;
    background-color: $secondary-color--darkest;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $secondary-color--darkest;
  }
}

.order-form__input-wrapper {
  position: relative;
  margin: 0;
}

.order-form__icon {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: $tablet-width) {
  .order-form__group {
    padding-top: 54px;

    &--color {
      padding-top: 60px;
    }

    &--name {
      margin-bottom: 0;
      padding-top: 66px;
    }

    &--text {
      padding-top: 52px;
    }

    &:nth-child(2n) {
      background-color: $secondary-color;
    }
  }

  .order-form__wrapper {
    display: flex;

    @include wrapper-tablet;
  }

  .order-form__title {
    display: block;
    width: 166px;
  }

  .order-form__title::after {
    display: none;
  }

  .order-form__email,
  .order-form__tel {
    width: 501px;
    margin-bottom: 40px;
    padding-bottom: 14px;
    background-color: $secondary-color;
  }

  .order-form__tel {
    height: 44px;
  }

  .order-form__textarea {
    width: 501px;
  }

  .order-form__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include wrapper-tablet;

    margin-top: 49px;
    margin-bottom: 54px;
  }

  .order-form__button {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    order: -1;
  }

  .order-form__text {
    @include font-set(17px, 30px, 400);
  }
}

@media (min-width: $desktop-width) {
  .order-form__wrapper,
  .order-form__footer {
    @include wrapper-desktop;
  }

  .order-form__email,
  .order-form__tel,
  .order-form__textarea {
    width: 700px;
  }

  .order-form__textarea {
    margin-left: 8px;
  }

  .order-form__email {
    margin-bottom: 53px;
  }

  .order-form__title {
    padding-top: 5px;
    padding-left: 60px;

    &--text {
      padding-top: 10px;
    }

    &--textarea {
      padding-top: 17px;
    }

    &--name {
      padding-top: 7px;
    }
  }

  .order-form__footer {
    width: 700px;
    padding: 0;
    margin-top: 48px;
  }

  .order-form__group {
    &--color {
      padding-top: 64px;
      padding-bottom: 5px;
    }

    &--text {
      padding-top: 35px;
    }

    &--name {
      padding-top: 62px;
      padding-bottom: 21px;
    }
  }

  .order-form__input-wrapper {
    padding-left: 8px;
  }
}
