.order__text {
  @include wrapper;

  margin-top: 29px;
  margin-bottom: 26px;

  @include font-set(13px, 24px, 400);

  color: $secondary-color--darkest;
}

@media (min-width: $tablet-width) {
  .order__text {
    @include wrapper-tablet;

    margin-top: 80px;

    @include font-set(17px, 30px, 400);
  }
}

@media (min-width: $desktop-width) {
  .order {
    padding-top: 132px;
  }

  .order__text {
    @include wrapper-desktop;

    margin-top: 0;
    padding: 0 225px;

  }
}
