.order-form__wrapper,
.order-form__footer {
  @include wrapper;
}

.order-form__group {
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
  border: none;
}

.order-form__list {
  @include lists;
}

.order-form__title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 32px;
  color: $primary-color;

  @include font-set(17px, 16px, 700);
  text-transform: uppercase;
}

.order-form__title::after {
    content: "";
    width: 200px;
    height: 1px;
    margin-left: 25px;
    flex-grow: 1;
    background-color: $primary-color;
}

.order-form__text {
  color: $secondary-color--darkest;

  @include font-set(14px, 16px, 400);
}

.order-form__email,
.order-form__textarea,
.order-form__tel {
  width: 260px;
  color: rgba(68, 68, 68, 0.3);

  @include font-set(17px, 18px, 400);

  border: 0;
  border-bottom: 2px solid $black;
}

.order-form__email,
.order-form__tel {
  height: 34px;
}

.order-form__textarea {
  width: 228px;
  height: 140px;
  padding-top: 17px;
  padding-left: 16px;
  padding-right: 16px;
  border: 2px solid $black;
}

.order-form__button {
  margin-top: 32px;
  margin-bottom: 55px;
  padding-top: 13px;
  padding-left: 45px;
  padding-right: 45px;
}

@media (min-width: $tablet-width) {
  .order-form__group {
    display: flex;
    flex-direction: row;
    padding-top: 54px;
    padding-bottom: 25px;
  }

  .order-form__group:nth-child(2n) {
    background-color: $secondary-color;
  }

  .order-form__wrapper {
    display: flex;

    @include wrapper-tablet;
  }

  .order-form__title {
    display: block;
    width: 166px;
  }

  .order-form__title::after {
    display: none;
  }

  .order-form__email,
  .order-form__tel {
    width: 501px;
    margin-bottom: 40px;
    padding-bottom: 14px;
    background-color: $secondary-color;
  }

  .order-form__textarea {
    width: 501px;
  }

  .order-form__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include wrapper-tablet;

    margin-top: 54px;
    margin-bottom: 54px;
  }

  .order-form__button {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    order: -1;
  }

  .order-form__text {
    @include font-set(17px, 30px, 400);
  }
}

@media (min-width: $desktop-width) {
  .order-form__wrapper,
  .order-form__footer {
    @include wrapper-desktop;
  }

  .order-form__email,
  .order-form__tel,
  .order-form__textarea {
    width: 700px;
  }

  .order-form__text {
    margin-right: 197px;
  }

  .order-form__button {
    margin-left: 167px;
  }

  .order-form__title {
    padding-left: 60px;
  }

  .order-form__footer {
    margin-top: 27px;
  }
}
