.page-header__title {
  @include wrapper;

  padding-top: 69px;
  padding-bottom: 74px;
  text-align: center;
  color: $black;

  @include font-set(27px, 30px, 700);
}

.page-header__intro {
  min-height: 177px;

  background-color: #f1f1f1;

  &--index {
    min-height: 281px;
    background-color: #f9f9f9;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -18px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px auto;
    }
  }
}

.page-header__info {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__info {
    display: block;
    width: 100%;
    margin: 0 auto;

    @include wrapper-tablet;

    margin-top: 16px;
    margin-bottom: 0;
    text-align: right;
  }

  .page-header__intro {
    min-height: 229px;
    margin-top: -85px;
    color: $secondary-color--darkest;

    @include font-set(15px, 24px, 400);

    border-top: 1px solid #e7e7e7;

    &--index {
      min-height: 625px;
      background-image: url("../img/hero-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: top;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
        background-size: 1150px auto;
      }
    }
  }

  .page-header__title {
    @include wrapper-tablet;

    padding-top: 55px;
    padding-bottom: 86px;

    @include font-set(43px, 50px, 700);

    &--index {
      padding-top: 110px;
    }

    &--form {
      padding-top: 52px;
    }
  }

  .zigzag {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      width: 100%;
      height: 21px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: auto 100%;
      background-position-x: center;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__intro {
    min-height: 254px;
    margin-top: -88px;

    &--index {
      min-height: 629px;
      background-image: url("../img/hero-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: top;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
        background-size: 1150px auto;
      }
    }
  }

  .page-header__title {
    max-width: 1150px;
    padding-top: 54px;
    padding-left: 268px;
    padding-right: 268px;
    padding-bottom: 85px;

    @include font-set(53px, 57px, 700);

    &--index {
      padding-top: 114px;
    }
  }

  .page-header__info {
    @include wrapper-desktop;
  }

  .zigzag::after {
    bottom: -17px;
    height: 34px;
  }
}
