.page-header__title {
  @include wrapper;

  padding-top: 78px;
  padding-bottom: 74px;
  text-align: center;
  color: $black;

  @include font-set(27px, 30px, 700);
}

.page-header__intro {
  min-height: 177px;

  background-color: #f9f9f9;

  &--index {
    min-height: 284px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.page-header__info {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__info {
    display: block;
    width: 100%;
    margin: 0 auto;

    @include wrapper-tablet;

    margin-top: 25px;
    margin-bottom: 0;
    text-align: right;
  }

  .page-header__intro {
    min-height: 214px;
    margin-top: -70px;
    color: $secondary-color--darkest;

    @include font-set(15px, 24px, 400);

    border-top: 1px solid #e7e7e7;

    &--index {
      min-height: 627px;
      background-image: url("../img/hero-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .page-header__title {
    @include wrapper-tablet;

    padding-top: 46px;
    padding-bottom: 74px;

    @include font-set(43px, 50px, 700);
  }
}

@media (min-width: $desktop-width) {
  .page-header__intro {
    min-height: 254px;
    margin-bottom: -83px;

    &--index {
      min-height: 629px;
      background-image: url("../img/hero-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .page-header__title {
    max-width: 1150px;
    padding-top: 106px;
    padding-left: 268px;
    padding-right: 268px;
    padding-bottom: 85px;

    @include font-set(53px, 57px, 700);
  }

  .page-header__info {
    @include wrapper-desktop;
  }
}
