.page-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background: $secondary-color;
}

.page-footer__wrapper {
  @include wrapper;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 51px;
    padding-bottom: 58px;
  }

  .page-footer__logo {
    display: block;
    width: 105px;
    margin-right: 158px;
  }

  .page-footer__wrapper {
    display: flex;
    align-items: center;

    @include wrapper-tablet;
  }

  .page-footer__social,
  .page-footer__copyright {
    width: 190px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    @include wrapper-desktop;
  }

  .page-footer__logo {
    margin-right: 350px;
  }
}
