.page-header {
  text-align: center;
  margin-top: 22px;
}

.page-header__title {
  margin: 0;
  padding-top: 78px;
  padding-bottom: 119px;
  @include font-set(27px, 30px, 700);
}

.page-header__intro {
  @include wrapper;
  background-color: $secondary-color;

  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.page-header__info {
  display: none;
}
