.page-footer__wrapper {
  background: $secondary-color;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {

  .page-footer__logo {
    display: block;
    width: 180px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;

    @include wrapper-tablet;
  }

  .page-footer__social,
  .page-footer__copyright {
    width: 190px;
  }
}
