.page-footer {
  padding-top: 23px;
  padding-bottom: 25px;
  background: $secondary-color;
}

.page-footer__wrapper {
  @include wrapper;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 44px;
    padding-bottom: 58px;
  }

  .page-footer__logo {
    display: block;
    width: 105px;
    font-size: 0;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include wrapper-tablet;
  }

  .page-footer__social {
    width: 190px;
  }

  .page-footer__copyright {
    width: 186px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    @include wrapper-desktop;
  }
}
