.page-header {
  text-align: center;
  margin-top: 22px;
}

.page-header__title {
  margin: 0;
  padding-top: 78px;
  padding-bottom: 119px;
  @include font-set(27px, 30px, 700);
}

.page-header__intro {
  @include wrapper;
  background-color: #fbfbfb;

  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.page-header__info {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__info {
    display: block;
    text-align: right;
  }

  .page-header__intro {
    height: 720px;
    margin-top: -90px;
    margin-bottom: -103px;
    color: $secondary-color--darkest;

    @include font-set(15px, 24px, 400);

    border-top: 1px solid #e7e7e7;

    &--index {
      background-image: url("../img/hero-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .page-header__title {
    padding-top: 160px;
    padding-bottom: 315px;
    color: $black;

    @include font-set(43px, 50px, 700);
  }
}

@media (min-width: $desktop-width) {

  .page-header__intro--index {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .page-header__title {
    padding-left: 220px;
    padding-right: 220px;
  }

  .page-header__intro {
    @include wrapper-desktop;

    margin-bottom: -83px;
  }
}
