.page-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background: $secondary-color;
}

.page-footer__wrapper {
  @include wrapper;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 51px;
    padding-bottom: 58px;
  }

  .page-footer__logo {
    display: block;
    width: 105px;
    font-size: 0;
  }

  .icon--logo-footer {
    fill: #231f20;

    &:hover,
    &:focus {
      fill: $primary-color;
    }

    &:active {
      fill: #bde3dd;
    }
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include wrapper-tablet;
  }

  .page-footer__social,
  .page-footer__copyright {
    width: 190px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    @include wrapper-desktop;
  }
}
