.production {
  padding-bottom: 57px;
}

.production__wrapper {
  @include wrapper;

  border: 1px solid #ededed;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__wrapper-title {
  padding-top: 29px;
  padding-right: 23px;
  padding-left: 91px;
  padding-bottom: 26px;
}

.production__title {
  position: relative;
  display: block;
  margin: 0;

  @include font-set(17px, 24px, 700);

  &::before {
    content: "";
    position: absolute;
    bottom: 13px;
    left: -60px;
    width: 32px;
    height: 22px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.production__text {
  display: block;
  margin-top: 0;
  margin-bottom: 29px;

  @include font-set(13px, 24px, 400);
}

.production__footer {
  padding: 26px 34px 33px;
}

.production__button {
  padding-top: 13px;
  padding-left: 23px;
  padding-right: 23px;

  &:hover,
  &:focus {
    color: $white;
    background-color: $secondary-color--darkest;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $secondary-color--darkest;
  }
}

.production__video {
  position: relative;
}

.production__image {
  width: 100%;
}

.production__button-play {
  position: absolute;
  top: 75px;
  left: 50%;
  width: 100px;
  height: 76px;

  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .production {
    padding-bottom: 110px;
  }

  .production__wrapper {
    display: flex;
    flex-direction: column;
    width: 668px;
    padding: 0;
  }

  .production__wrapper-title {
    padding-top: 37px;
    padding-left: 103px;
  }

  .production__video {
    order: -1;
  }

  .production__title {
    @include font-set(20px, 24px, 700);

    &::before {
      bottom: 0;
    }
  }

  .production__button {
    width: 100%;
  }

  .production__text {
    margin-top: 7px;
    margin-bottom: 35px;

    @include font-set(15px, 30px, 400);
  }

  .production__footer {
    padding: 0 44px;
  }

  .production__button-play {
    top: 50%;
  }
}

@media (min-width: $desktop-width) {
  .production {
    padding-bottom: 106px;
  }

  .production__wrapper {
    position: relative;
    width: 1050px;
    align-items: flex-end;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;
  }

  .production__wrapper-title,
  .production__footer {
    width: 368px;
    padding-left: 78px;
  }

  .production__footer {
    padding-right: 60px;
  }

  .production__wrapper-title {
    padding-top: 97px;
    padding-right: 140px;
    padding-bottom: 31px;
  }

  .production__button {
    padding-left: 43px;
    padding-right: 43px;
    margin-bottom: 59px;
    margin-left: 4px;
  }

  .production__title::before {
    bottom: 71px;
    left: 0;
  }

  .production__text {
    margin-top: 0;
    margin-bottom: 47px;
  }
}
