.radio-list__item {
  margin-bottom: 29px;
}

.radio-list__label {
  padding-left: 62px;

  @include font-set(17px, 18px, 700);
}

@media (min-width: $tablet-width) {
  .radio-list__label {
    padding-left: 81px;

    @include font-set(19px, 18px, 700);
  }

  .radio-list__item {
  margin-bottom: 52px;
}
}
