.radio-list__item {
  margin-bottom: 29px;
}

.radio-list__label {
  position: relative;
  display: block;
  padding-left: 62px;

  @include font-set(17px, 18px, 700);

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 40px;
    height: 40px;
    background: $white;
    border: 2px solid $black;
    border-radius: 50%;
    cursor: pointer;
  }

  &:hover::before {
    border-color: $primary-color;
  }

  &:hover:active {
    border-color: #d6d6d6;
  }
}

.radio-list__input {
  &:checked + .radio-list__label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: $primary-color;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .radio-list__label {
    padding-left: 83px;

    @include font-set(19px, 18px, 700);

    &::before {
      top: -23px;
      width: 52px;
      height: 52px;
    }
  }

  .radio-list__input {
    &:checked + .radio-list__label::after {
      top: -6px;
      left: 16px;
      width: 20px;
      height: 20px;
    }
  }

  .radio-list__item {
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .radio-list__label {
    padding-left: 87px;

    &::before {
      left: 8px;
      top: -20px;
    }
  }

  .radio-list__input {
    &:checked + .radio-list__label::after {
      top: -4px;
      left: 23px;
    }
  }
}
