.reviews {
  padding-top: 30px;
  padding-bottom: 45px;
}

.reviews__wrapper {
  @include wrapper;
}

.reviews__title {
  margin: 0;
  margin-bottom: 40px;

  @include font-set(25px, 30px, 700);
}

.author__name {
  display: block;
  margin-bottom: 14px;

  @include font-set(17px, 24px, 700);

  font-style: normal;
}

.author__link {
  display: block;
  margin-bottom: 36px;
  color: $secondary-color--darkest;
  font-style: normal;
}

.reviews__button {
  padding-left: 79px;
  padding-right: 79px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 40px;
  color: $secondary-color--darkest;

  @include font-set(15px, 30px, 400);
}

.review__autor {
  margin-bottom: 14px;
}

.slider__controls {
  display: flex;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 78px;
    padding-bottom: 52px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left;
  }

  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;

    @include wrapper-tablet;
  }

  .reviews__button {
    order: -1;
    align-self: baseline;
    padding-left: 31px;
    padding-right: 31px;
    margin-left: auto;
  }

  .reviews__title {
    order: -2;

    @include font-set(43px, 50px, 700);
  }

  .slider__controls {
    margin-left: auto;
    margin-top: -70px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    @include wrapper-desktop;

    background-image: none;
  }

  .reviews__wrapper {
    margin: 0;
    padding: 0;
    padding-top: 80px;
    padding-left: 175px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left;
  }

  .reviews__button {
    top: 78px;
  }
}
