.social {
  width: 141px;
  margin: 0 auto;
  padding-bottom: 27px;
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 141px;

  @include lists;
}

.icon--insta,
.icon--fb,
.icon--twitter {
  fill: #221f1f;

  &:hover,
  &:focus {
    fill: $primary-color;
  }

  &:active {
    fill: #dcf5f0;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin: 0;
    padding: 0;
    border: none;
  }

  .social__list {
    padding-top: 6px;
  }
}
