.weekly-good {
  padding-top: 30px;
  padding-bottom: 70px;
}

.weekly-good__wrapper {
  position: relative;

  @include wrapper;

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.weekly-good__title {
  @include font-set(25px, 30px, 700);

  margin: 0;
  margin-bottom: 3px;
}

.weekly-good__button {
  padding: 13px 83px;

  &:hover,
  &:focus {
    color: $white;
    background-color: $secondary-color--darkest;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $secondary-color--darkest;
  }
}

.weekly-good__header {
  margin-bottom: 23px;
}

.weekly-good__subtitle {
  display: block;
  color: $primary-color;

  @include font-set(17px, 20px, 700);
  text-transform: uppercase;
}

.weekly-good__desc {
  display: block;
  margin: 0;
  margin-bottom: 20px;

  @include font-set(15px, 24px, 400);
  color: $secondary-color--darkest;
}

.weekly-good__table {
  width: 260px;
  margin-bottom: 28px;
  border-collapse: collapse;
}

.weekly-good__row {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.weekly-good__key {
  width: 100px;
  padding: 0;
}

.weekly-good__value {
  padding: 0;
}

.weekly-good__image {
  margin-bottom: 25px;
}

.weekly-good__price {
  margin: 0;
  margin-bottom: 27px;
  text-align: center;
  color: $secondary-color--darkest;

  @include font-set(17px, 24px, 700);
}

@media (min-width: $tablet-width) {
  .weekly-good {
    padding-top: 36px;
    padding-bottom: 119px;
  }

  .weekly-good__header {
    display: flex;
    justify-content: space-between;
    width: 668px;
    margin-bottom: 46px;
  }

  .weekly-good__subtitle {
    width: 111px;
    padding-top: 10px;
    padding-right: 11px;
    line-height: 17px;
    text-align: center;
  }

  .weekly-good__title {
    z-index: 10;

    @include font-set(43px, 50px, 700);
  }

  .weekly-good__wrapper {
    position: relative;

    @include wrapper-tablet;

    &::after {
      height: 18px;
      bottom: -75px;
    }
  }

  .weekly-good__image {
    display: block;
    position: absolute;
    right: 50px;
    top: 104px;
  }

  .weekly-good__button {
    padding-left: 99px;
    padding-right: 99px;
  }

  .weekly-good__price {
    display: block;
    width: 146px;
    margin: 0 auto;
    margin-bottom: 34px;

    @include font-set(20px, 24px, 700);
  }

  .weekly-good__footer,
  .weekly-good__content {
    width: 50%;
  }

  .weekly-good__desc {
    padding-right: 38px;
    margin-bottom: 38px;

    @include font-set(17px, 30px, 400);
  }

  .weekly-good__footer {
    padding-right: 42px;
  }

  .weekly-good__table {
    margin-bottom: 61px;
  }
}

@media (min-width: $desktop-width) {
  .weekly-good {
    padding: 0;
    padding-top: 124px;
    padding-bottom: 153px;
  }

  .weekly-good__wrapper {
    @include wrapper-desktop;

    &::after {
      width: 1050px;
      left: 50px;
      bottom: -99px;
      height: 22px;
    }
  }

  .weekly-good__header {
    width: 700px;
    justify-content: flex-start;
  }

  .weekly-good__subtitle {
    padding: 0;
    margin-top: 13px;
    margin-left: 47px;
    margin-right: 53px;
    order: -1;
  }

  .weekly-good__image {
    display: block;
    position: absolute;
    top: -55px;
  }

  .weekly-good__desc {
    margin-top: 47px;
    margin-bottom: 49px;
    padding-right: 50px;
  }

  .weekly-good__table {
    margin-bottom: 115px;
  }

  .weekly-good__footer,
  .weekly-good__content {
    padding-left: 175px;
  }

  .weekly-good__title {
    @include font-set(53px, 57px, 700);
  }

  .weekly-good__button {
    padding: 14px 101px;
  }

  .weekly-good__price {
    margin-left: 74px;
  }
}
