.weekly-good {
  @include wrapper;

  padding-top: 33px;
}

.weekly-good__title {
  @include font-set(25px, 30px, 700);

  margin: 0;
  margin-bottom: 9px;
}

.weekly-good__button {
  padding-left: 83px;
  padding-right: 83px;
  margin-bottom: 76px;
}

.weekly-good__subtitle {
  display: block;
  color: $primary-color;
  margin-bottom: 31px;

  @include font-set(17px, 20px, 700);
  text-transform: uppercase;
}

.weekly-good__desc {
  display: block;
  margin: 0;
  margin-bottom: 35px;

  @include font-set(15px, 24px, 400);
  color: $secondary-color--darkest;
}

.weekly-good__table {
  width: 260px;
  margin-bottom: 28px;
}

.weekly-good__row {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.weekly-good__key {
  width: 100px;
  padding: 0;
}

.weekly-good__value {
  padding: 0;
}

.weekly-good__image-mobile {
  margin-bottom: 29px;
}

.weekly-good__image-tablet,
.weekly-good__image-desktop {
  display: none;
}

.weekly-good__price {
  margin: 0;
  margin-bottom: 29px;
  text-align: center;
}

@media (min-width: $tablet-width) {

  .weekly-good {
    @include wrapper-tablet;

    padding-top: 55px;
  }

  .weekly-good__header {
    display: flex;
    justify-content: space-between;
    width: 668px;
  }

  .weekly-good__subtitle {
    width: 105px;
  }

  .weekly-good__title {
    width: 440px;

    @include font-set(43px, 50px, 700);
  }

  .weekly-good__wrapper {
    position: relative;
  }

  .weekly-good__image-mobile {
    display: none;
  }

  .weekly-good__image-tablet {
    display: block;
    position: absolute;
    right: 0;
    top: 70px;
  }

  .weekly-good__content,
  .weekly-good__footer {
    width: 50%;
  }

  .weekly-good__button {
    padding-left: 100px;
    padding-right: 100px;
  }
}
