html {
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;

  font-family: $font-primary;
  font-size: $font-size;
  color: $black;

  background-color: $color-bg;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  body {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    min-width: $desktop-width;
  }
}
