html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  font-family: $font-primary;
  font-size: $font-size;
  color: $black;
  background-color: $color-bg;
}

a {
  display: block;
  text-decoration: none;
}
