@mixin font-set($size, $line-height, $weight:null) {
  font-size: $size;
  line-height: floor($line-height / $size * 100) / 100;
  font-weight: $weight;
}

@mixin transition($property, $time, $transition) {
  transition-property: $property;
  transition-duration: $time;
  transition-timing-function: $transition;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin wrapper() {
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
}

@mixin wrapper-tablet() {
  padding: 0 50px;
}

@mixin wrapper-desktop() {
  max-width: 1150px;
}

@mixin lists() {
  list-style: none;
  padding: 0;
  margin: 0;
}
