$black: #000000;
$white: #ffffff;
$primary-color: #63d1bb;
$primary-color--darkest: #56c3b2;
$secondary-color: #f1f1f1;
$secondary-color--darkest: #444444;
$color-bg: #ffffff;
$font-size: 15px;
$font-primary: "Open Sans", "Arial", sans-serif;
$border: 2px solid $secondary-color--darkest;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
