$black: #000000;
$white: #ffffff;
$primary-color: #63d1bb;
$primary-color--darkest: #56c3b2;
$secondary-color: #f1f1f1;
$secondary-color--darkest: #444444;
$color-bg: #ffffff;
$font-size: 15px;
$font-primary: "OpenSans", "Arial", sans-serif;
